{% extends 'blog/base.html' %}
{% load i18n %}

{% block content %}
	<br>
<div class="header" >
  <div class="am-g">
    <h1><i class="am-icon-bell-o am-icon-xs"></i> {% blocktrans %}公告通知{% endblocktrans%}</h1>
  </div>
  <hr />
</div>
<div class="am-g">
<div class="am-u-lg-9 am-u-md-8 am-u-sm-centered">
	<table class="am-table am-table-striped am-table-hover am-u-sm-centered">
	<thead>
        <tr>
            <th>{% blocktrans %}通知{% endblocktrans%}</th>
            <th>{% blocktrans %}创建时间{% endblocktrans%}</th>
        </tr>
    </thead>
    <tbody>
	  {% if announcement %}
		{% for announcement in announcement %}
        <tr>
            <td>{{announcement.text}}</td>
            <td>{{announcement.created_date}}</td>
        </tr>
      	{% endfor %}
      {% else %}
        <tr>
            <td>{% blocktrans %}暂无数据{% endblocktrans%}</td>
            <td></td>
        </tr>
      {% endif %}
     </tbody>
    </table>
</div>
</div>
	

{% endblock %}