{% extends 'blog/base.html' %}
{% load i18n %}

{% block content %}
<br/>
<div class="header" >
  <div class="am-g">
    <h1><i class="detail-h3 am-icon-map-signs am-icon-xs"></i> {% trans "研究方向" %}</h1>
  </div>
  <hr />
</div>

{% if request.LANGUAGE_CODE == 'en' %}
<div class="am-g">
        {% for direction in direction %}

<div class="am-u-lg-8 am-u-md-8 am-u-sm-centered">
        <div class="am-panel am-panel-default">
            <div class="am-panel-hd">
                <h3 class="am-panel-title"><i class="am-icon-star am-icon-xs"></i> {{direction.name_en}}</h3>
            </div>
            <table class="am-table am-u-md-8 am-u-sm-centered">
            <thead>
            <tr>
                <td class="am-u-md-12"><i class="am-icon-map-pin am-icon-xs"></i> Section：{{direction.direction_en}}</td>
            </tr>
            </thead>
             <thead>
            <tr>
                <td class="am-u-md-12"><i class="am-icon-user am-icon-xs"></i> Researchers：{{direction.users_pin}}</td>
            </tr>
            </thead>
            </table>
        </div>
</div>
    {% endfor %}   
</div>

{% else %}

<div class="am-g am-container">
        {% for direction in direction %}

<div class="am-u-sm-centered">
        <div class="am-panel am-panel-default">
            <div class="am-panel-hd">
                <h3 class="am-panel-title"><i class="am-icon-user am-icon-xs"></i> {{direction.name}}</h3>
            </div>
            <table class="am-table am-u-md-8 am-u-sm-centered">
            <thead>
            <tr>
                <td class="am-u-md-12"><i class="am-icon-map-pin am-icon-xs"></i>研究方向：{{direction.direction}}</td>
            </tr>
            </thead>
             <thead>
            <tr>
                <td class="am-u-md-12"><i class="am-icon-user am-icon-xs"></i> 研究人员：{{direction.users}}</td>
            </tr>
            </thead>
            </table>
        </div>
</div>
    {% endfor %}   
</div>

{% endif %}
{% endblock %}
