{% extends 'blog/base.html' %}
    {% block content %}
    
    <div id='introduction' class='get' style="background: #7b7bbb url(../static/assets/i/boIzecHPu4uFZvITuziBxMx2ZhUscXoe.png) center center no-repeat">
      <div class="am-g">
        <div class="am-u-lg-12">
        <h1 class="get-title">重庆邮电大学生物信息研究所</h1>

        </div>
      </div>
    </div>

    <div class="detail" id='introduction'>
  <div class="am-g am-container">
    <div class="am-u-lg-12">
      <h3 class="detail-h2">重庆邮电大学生物信息学研究所位于重庆邮电大学生物信息学院1号楼4楼，周边绿树成荫，风景秀丽。<br/>
      研究所成立于2010年3月，隶属于生物信息学院，其前身是隶属于分子生物学重点实验室的生物信息研究所。<br/>
      新成立的生物信息学研究所包括分子进化研究室、计算机辅助药物设计研究室、生物医学数据挖掘与可视化研究室和生物信息学算法研究室。<br/>
      研究队伍包括教授3名，副教授3名，讲师7名。其中具有博士学位7名，在读博士2名，硕士4名。<br/>
      主要研究方向为功能基因组学与分子进化、三峡库区生物多样性、DNA光损伤与修复模拟、基因表达调控网络研究、分子动力学模拟研究、进化发育生物学（Evo-Devo)、生物信息学算法等。</h3>

      <div class="am-g">
        <div class="am-u-lg-5 am-u-md-6 am-u-sm-12 detail-mb" id='news'>

          <h3 class="detail-h3">
            <i class="am-icon-newspaper-o am-icon-sm"></i>
            <a href='news'>最新动态</a>
          </h3>

          <p class="detail-p">
      {% if news %}
      {% for news in news %}
        <p><strong>【最新讲座】{{news.title}}（{{news.lec_time}}、{{news.place}}）</strong></p>
      {% endfor %}
      {% else %}
      <p>无</p>
      {% endif %}
          </p>
        </div>
        <div class="am-u-lg-4 am-u-md-6 am-u-sm-12 detail-mb" id='announcement'>
          <h3 class="detail-h3">
            <i class="am-icon-bell-o am-icon-sm"></i>
                        <a href='announcement'>公告通知</a>

          </h3>

          <p class="detail-p">
          {% if announcement %}
           {% for announcement in announcement %}
             <p>{{announcement.title}}</p>
            {% endfor %}
          {% else %}
          <p>无</p>
          {% endif %}
          </p>
        </div>
      
        <div class="am-u-lg-3 am-u-md-6 am-u-sm-12 detail-mb" id='link'>
          <h3 class="detail-h3">
            <i class="am-icon-link am-icon-sm"></i>
            相关链接
          </h3>

          <p class="detail-p">
           <tr>
        <a href="http://www.cqupt.edu.cn" target=_blank>重庆邮电大学</a>
        <a href="http://202.202.43.56/" target=_blank>生物信息学院</a><br/>
        <a href="http://ibi.cqupt.edu.cn/bioinfo/index.php" target=_blank>生物信息学专业网站</a><br/>
        <a href="http://ibi.cqupt.edu.cn/biodiversity/index.php" target=_blank>重邮校园生物多样性数据库</a><br/>
        <a href="http://www.cbi.pku.edu.cn" target=_blank>北京大学生物信息中心</a><br/>
        <a href="http://www.scbit.org/pages/index.do" target=_blank>上海生物信息技术研究中心</a><br/>
          </p>
        </div>
      </div>

    <div id='search'>
      {% if form.subject.errors %}
      <ol>
        {% for error in form.subject.errors %}
          <li><strong>{{ error|escape }}</strong></li>
        {% endfor %}
      </ol>
      {% endif %}
      <form action="{% url 'search' %}" method="post">
        {% csrf_token %}
        {{ form }}
      <input type="submit" value="搜索" class="am-btn am-btn-primary am-btn-ssm"/>
      </form>
    </div>
    
{% endblock %}
