{% extends 'blog/base.html' %}
    {% block content %}
    {% load i18n %}

    <div id='introduction' class='get' style="background: #7b7bbb url(../static/assets/i/boIzecHPu4uFZvITuziBxMx2ZhUscXoe.png) center center no-repeat">
      <div class="am-g">
        <div class="am-u-lg-12">
        <h1 class="get-title">{% trans "重庆邮电大学生物信息研究所" %}</h1>

        </div>
      </div>
    </div>

<div class="detail" id='introduction'>
  <div class="am-g am-container">
    <div class="am-u-lg-12">
      <p style="border:1px solid #ccc; border-radius:5px;text-align:left; padding:21px; margin:20px 20px 40px 20px">{% trans "重庆邮电大学生物信息学研究所隶属于重庆邮电大学生物信息学院，主要研究方向有生物医学大数据整合、存储与传输，机器学习与多组学数据整合分析与挖掘，生物分子光化学反应的理论计算与模拟、生物多样性信息学等。研究所与国家蛋白质科学中心（北京）及欧洲生物信息学研究所（EMBL-EBI）等单位开展合作，建立了" %}<a herf='http://www.iprox.org'>{% trans "蛋白质组学数据共享系统iProX" %}</a><br>
      {% trans "与多家科研院所、医院及公司合作研究生物医学大数据的存储、传输和分析中的关键信息技术，建立智能化数据分析模型，开发多组学分析平台iBioX，为进一步精准医疗提供服务和技术支撑。与EBI、国家蛋白质科学中心（北京）等合作开发的" %}<a herf='http://www.omicsdi.org/'>{% trans "多组学工具OmicsDI" %}</a>{% trans "，为生物医学科研人员提供组学大数据的检索和知识发现服务。该成果的论文已发表在Nature Biotechnology。" %}
      </p>

      <div class="am-g">
        <div class="am-u-lg-4 am-u-md-6 am-u-sm-12 detail-mb" id='news'>

          <h2 class="detail-h3">
            <i class="am-icon-newspaper-o am-icon-sm"></i>
            <a href='news'>{% trans "最新动态" %}</a>
          </h2>

          <p class="detail-p">
      {% if news %}
      {% for new in news %}
        <p>{{new.title}}</p>
      {% endfor %}
      {% else %}
      <p>{% trans "无" %}</p>
      {% endif %}
          </p>
        </div>
        
        <div class="am-u-lg-4 am-u-md-6 am-u-sm-12 detail-mb" id='announcement'>
          <h2 class="detail-h3">
            <i class="am-icon-bell-o am-icon-sm"></i>
                        <a href='announcement'>{% trans "公告通知" %}</a>

          </h2>

          <p class="detail-p">
          {% if announcement %}
      {% for ann in announcement %}
        <p>{% trans "【最新讲座】" %}{{ann.title}}（{{ann.lec_time}}、{{ann.place}}</p>
      {% endfor %}
      {% else %}
      <p>{% trans "无" %}</p>
      {% endif %}
          </p>
        </div>
      
        <div class="am-u-lg-4 am-u-md-6 am-u-sm-12 detail-mb" id='link'>
          <h2 class="detail-h3">
            <i class="am-icon-link am-icon-sm"></i>
            {% trans "相关链接" %}
          </h2>

          <p class="detail-p">
        <a href="http://www.cqupt.edu.cn" target=_blank>{% trans "重庆邮电大学" %}</a><br/>
        <a href="http://202.202.43.56/" target=_blank>{% trans "生物信息学院" %}</a><br/>
        <a href="http://ibi.cqupt.edu.cn/bioinfo/index.php" target=_blank>{% trans "生物信息学专业网站" %}</a><br/>
        <a href="http://ibi.cqupt.edu.cn/biodiversity/index.php" target=_blank>{% trans "重邮校园生物多样性数据库" %}</a><br/>
        <a href="http://www.cbi.pku.edu.cn" target=_blank>{% trans "北京大学生物信息中心" %}</a><br/>
        <a href="http://www.scbit.org/pages/index.do" target=_blank>{% trans "上海生物信息技术研究中心" %}</a><br/>
          </p>
        </div>
      </div>
<center>
     <div id='search'>
      {% if form.subject.errors %}
      <ol>
        {% for error in form.subject.errors %}
          <li><strong>{{ error|escape }}</strong></li>
        {% endfor %}
      </ol>
      {% endif %}
      <form action="{% url 'search' %}" method="post">
        {% csrf_token %}
        {{ form }}
      <input type="submit" value="{% trans "搜索" %}" class="am-btn am-btn-primary am-btn-ssm"/>
      </form>
    </div></center>
  </div>
</div>
</div>
{% endblock %}
