{% extends 'blog/base.html' %}
{% load i18n %}

{% block content %}
	<br>
<div class="header" >
  <div class="am-g">
    <h1><i class="am-icon-newspaper-o am-icon-xs"></i> {% blocktrans %}最新动态{% endblocktrans%}</h1>
  </div>
  <hr />
</div>

<div class="am-g">

{% if news %}
{% for news in news %}
<div class="am-panel-group " id="accordion">
  <div class="am-u-lg-8 am-u-md-8 am-u-sm-centered">
    <div class="am-panel am-panel-default">
    <div class="am-panel-hd">
      <h4 class="am-panel-title" data-am-collapse="{parent: '#accordion', target: '#news-{{news.id}}'}">
        {{news.title}}（{% blocktrans %}地点{% endblocktrans%}：{{news.place}}、{% blocktrans %}时间{% endblocktrans%}：{{news.lec_time}}）
      </h4>
    </div>
    <div id="news-{{news.id}}" class="am-panel-collapse am-collapse">
      <div class="am-panel-bd">
        {% blocktrans %}主讲人{% endblocktrans%}：{{news.name}}<br/>
        {% blocktrans %}内容简介{% endblocktrans%}：{{news.text}}<br/>
        {% if news.host %}
        {% blocktrans %}主持人{% endblocktrans%}：{{news.host}}<br/>
        {% endif %}
        {% if news.organizers %}
        {% blocktrans %}主办单位{% endblocktrans%}：{{news.organizers}}<br/>
        {% endif %}
        {% if news.presenter_detail%}
        {% blocktrans %}主讲人简介{% endblocktrans%}：{{news.presenter_detail}}<br/>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% else %}
<div class="am-g">
<div class="am-u-lg-9 am-u-md-8 am-u-sm-centered">
  <table class="am-table am-table-striped am-table-hover am-u-sm-centered">
  <thead>
    <tr>{% blocktrans %}暂无数据{% endblocktrans%}</tr>
  </thead>
  </table>
</div>
</div>
</div>
</div>
{% endif %}

{% endblock %}