{% extends 'blog/base.html' %}
{% load i18n %}

{% block content %}
  <br>
<div class="header" >
  <div class="am-g">
    <h1><i class="detail-h3 am-icon-bell-o am-icon-xs"></i> {% trans "公告通知" %}</h1>
  </div>
  <hr />
</div>

<div class="am-g am-container">

{% if news %}
{% for new in news %}
<div class="am-panel-group " id="accordion">
  <div class="am-u-sm-centered">
    <div class="am-panel am-panel-default">
    <div class="am-panel-hd">
      <h4 class="am-panel-title" data-am-collapse="{parent: '#accordion', target: '#ann-{{ann.id}}'}">
        {{new.title}}
      </h4>
    </div>
    <div id="ann-{{ann.id}}" class="am-panel-collapse am-collapse am-in">
      <div class="am-panel-bd">
        {{new.text}}
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% else %}
<div class="am-g">
<div class="am-u-lg-9 am-u-md-8 am-u-sm-centered">
  <table class="am-table am-table-striped am-table-hover am-u-sm-centered">
  <thead>
    <tr>{% trans "暂无数据" %}</tr>
  </thead>
  </table>
</div>
</div>
{% endif %}
</div>
</div>
  

{% endblock %}

