{% extends 'blog/base.html' %}
{% load i18n %}

{% block content %}
	<br>
<div class="header" >
  <div class="am-g">
    <h1><i class="am-icon-search am-icon-xs"></i> {% blocktrans %}搜索结果{% endblocktrans%}</h1>
  </div>
  <hr />
</div>

<div class="am-g">
<div class="am-u-lg-9 am-u-md-8 am-u-sm-centered">
	<table class="am-table am-table-striped am-table-hover am-u-sm-centered">
	<thead>
        <tr>
            <th>{% blocktrans %}标题{% endblocktrans%}</th>
            <th>{% blocktrans %}具体内容{% endblocktrans%}</th>
        </tr>
    </thead>
    <tbody>
	  {% if result %}
		{% for search in result %}
        <tr>
            <td>{{search.title}}</td>
            <td>{{search.text}}</td>
        </tr>
      	{% endfor %}
      {% else %}

        <tr>
            <td>{% blocktrans %}暂无数据{% endblocktrans%}</td>
        </tr>

      {% endif %}
     </tbody>
    </table>
</div>
</div>
        
	

{% endblock %}